{% extends 'layout.html.twig' %}

{% block title %} 
	{{parent}} - Page not fount
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/blur.css">
	<link rel="stylesheet" href="/assets/css/error404.css">
{% endblock %}

{% block content %}
	<main class="error-404">
        <div></div>
    </main>
{% endblock %}
