{# TODO : manage errors display #}
<div class="cart-container">
<a class="cart icon edit" href="home"><span class="icon edit"><img class="edit" src="/assets/images/icons/edit.svg" alt="Modifier" /></span></a>
<a class="cart icon remove" href="items"><span class="icon remove"span><img src="assets/images/icons/remove.png" alt="Supprimer" /></span></a>
<a href="" class="cart">
<div class="cart">
	<div class="cart-header">
		<h2>HÔTEL CROWNE PLAZA - LILLe</h2>
	</div>
	<div class="cart-date-city">	
		<span class="cart-date">	
			<span class="">Du 16 Mai - 27 Mai 2023</span>
			<span>Lieu : Cannes</span>
		</span>		
	</div>		
	<div class="cart-info">
		<div class="cart-image">
			<img src="assets/images/carts/full/fritte.png" alt="HÔTEL CROWNE PLAZA - LILLe"/>
		</div>
		<div class="cart-text">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			Lorem Ipsum is simply dummy text of the printing and typesetting
		</div>
		<div class="cart-see-more">En savoir plus</div>
		<div class="cart-author">
			<div class="author-line">De <span>Vinchent Paul</span></div>
		</div>
	</div>
</div>
</a>
</div>