

{% block footer %}
	<link rel="stylesheet" href="/assets/css/footer.css">
 
 <footer>
    
    <div class="container">
        <div class="container_list">
            <ul>
                <li> <a href="#">Mention légale</a> </li>
                <li><a href="#">Contact</a> </li>
            </ul>
        </div>
        <div class="container_wild">
            <p>Créer par les wilders pour les wilders</p>
        </div>
    </div>
 </footer>

	{% block javascript %}
		<script src="./assets/javascript/footer.js"></script>
	{% endblock %}
{% endblock %}
