
  
{% block footer %}

 <footer class= "global_footer">
    
    <div class="container">
        <div class="container_list">
            <ul class= "ul_footer">
                <li class="li_footer"> <a class="a_footer" href="#">Mention légale</a> </li>
                <li class="li_footer"><a class="a_footer" href="#">Contact</a> </li>
            </ul>
        </div>
        <div class="container_wild">
            <p class="p_footer">Créer par les wilders pour les wilders</p>
        </div>
    </div>
 </footer>
{% endblock %}
