

/* -------------Footer desktop---------------- */
.global-footer {
    height: 75px;
    width: 100%;
    background-color: var(--color-secondary);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-footer {
    display: flex;
    flex-direction: row
    
}

.li-footer {
    padding: 0px 10px 0px 10px;
    list-style:none;
}

.a-footer {
    text-decoration:none;
    color: var(--color-primary);
   
}

.wild {
    margin-left:30%;
}