/* -------------Footer desktop---------------- */

.global-footer {
    height: var(--height-footer);
    width: 100%;
    background-color: var(--color-secondary);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: var(--padding-card);
}

.ul-footer {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
}


.a-footer {
    font-family: var(--font-primary-regular);
    text-decoration: none;
    color: var(--color-primary);
    font-size: var(--font-size-card-footer);
    line-height: calc(var(--height-footer)+1px);
}

.li-footer {
    padding: 5px 0;
    list-style: none;
}

.wild {
    margin-left: var(--padding-card);
}

@media (max-width: 1090px) {
    .wild {
        margin-left: 0;
        align-self: flex-start;
    }

    .ul-footer {
        width: 100%;
        justify-content: space-between;
    }

    .global-footer {
        flex-direction: column;
    }

    .a-footer {
        font-size: var(--font-size-card-date);
    }
}