@font-face {
    font-family: 'IstokWebRegular';
    src: url('../fonts/IstokWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IstokWebBold';
    src: url('../fonts/IstokWeb-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-primary: #224151;
    --color-secondary: #F1EFDA;
    --color-text: #000;
    --font-primary-regular: IstokWebRegular;
    --font-primary-bold: IstokWebBold;
    --font-size-h1-header: 40px;
    --font-size-h1-body: 36px;
    --font-size-cart-header: 18px;
    --font-size-cart-date: 16px;
    --padding-cart: 20px;
    --margin-cart: 65px;
    --padding-line: 3px;
    --cart-header-height: calc(3*var(--font-size-cart-header));
    --cart-width: 382px;
    --cart-height: 636px;
    --cart-icon-width: 25px;
    --cart-header-height: 54px;
    --cart-select-height: 40px;
    --width-photo-dev: 230px;
    --margin-photo-dev: 70 px;
    --width-about-text: 300px;
}

body {
    color: var(--color-text);
    font-family: var(--font-primary);
    background-image: url("../images/background.jpeg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: var(--font-size-h1-header);
}

/* styles for About us page */
body h1 {
    font-size: var(--font-size-h1-body);
    text-align: center;
    color: var(--color-primary);
    font-family: var(--font-primary-bold);

}

.container-about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.container-about p {
    align-self: flex-start;
    width: var(--width-about-text);
    font-size: var(--font-size-cart-header);
    font-family: var(--font-primary-regular);
    background-color: var(--color-secondary);
    border-radius: 20px;
    text-align: justify;
    padding: var(--padding-cart);
}

span.devs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: calc(3*var(--width-photo-dev) + 140px);
}

span.dev {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mention {
    padding: 10%
}

/* end of About us page styles */