<button class="btn-goodeals" type="button" onclick="location.href='../addGoodeal?{{line|trim('&')}}'">
    Ajoute GooDeals
</button>
<button class="btn-goodeals mobile" type="button" onclick="location.href='../addGoodeal?{{line|trim('&')}}'">
    +
</button>