<button class="btn-goodeals btn-goodeals-other" type="button" onclick="location.href='../addGoodeal?{{line|trim('&')}}'">
    Ajoute GooDeals
</button>
<button class="btn-goodeals mobile btn-goodeals-other-mobile" type="button" onclick="location.href='../addGoodeal?{{line|trim('&')}}'">
    +
</button>