{# TODO : manage errors display #}
<div class="card-container">
<a class="card-single icon edit" href="../home/"><span class="icon edit"><img class="edit" src="/assets/images/icons/edit.svg" alt="Modifier" /></span></a>
<a class="card-single icon remove" href="items"><span class="icon remove"span><img src="/assets/images/icons/remove.png" alt="Supprimer" /></span></a>
<a href="" class="card-single" >
<article class="card-single" >
	<div class="card-header">
		<h2>HÔTEL CROWNE PLAZA - LILLE</h2>
	</div>
	<div class="card-date-city">	
		<span class="card-date">	
			<span class="">Du 16 Mai - 27 Mai 2023</span>
			<span>Lieu : Cannes</span>
		</span>		
	</div>		
	<div class="card-info">
		<div class="card-image">
			<img src="/assets/images/cards/full/fritte.png" alt="HÔTEL CROWNE PLAZA - LILLE"/>
		</div>
		<div class="card-text">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			Lorem Ipsum is simply dummy text of the printing and typesetting
		</div>
		<div class="card-see-more">En savoir plus</div>
		<div class="card-author">
			<div class="author-line">De <span>Vinchent Paul</span></div>
		</div>
	</div>
</article>
</a>
</div>
