
  
{% block footer %}

 <footer class= "global-footer">     
        <ul class= "ul-footer">
            <li class="li-footer"><a class="a-footer" href="/legal">Mentions légales</a></li>
            <li class="li-footer"><a class="a-footer" href="/contact">Contact</a></li>
        </ul>        
    <div class="wild">
    <p classe="p-wild">Créer par les wilders pour les wilders</p> 
 </footer>
{% endblock %}
