
  
{% block footer %}

 <footer class= "global_footer">
    
    <div class="container">        
        <ul class= "ul_footer">
            <li class="li_footer"><a class="a_footer" href="/legal">Mentions légales</a></li>
            <li class="li_footer"><a class="a_footer" href="/contact">Contact</a></li>
            <li class="li_footer wilder-text"><p class="p_footer">Créer par les wilders pour les wilders</p></li>
        </ul>           
    </div>
 </footer>
{% endblock %}
