<header class="global-header">
	<div class="nav-header">
		<a href="/home" class="title">
			GooDealMap</a>


		<nav class="menu-burger">
			<a id="link" href="#">
				<span id="burger"></span>
			</a>
			<ul class="ul-header">
				<li>
					<a href="/about" class="a_header">Le concept</a>
				</li>
				<li>
					<a href="/connexion" class="a-header">Connexion</a>
				</li>
				<li>
					<a href="/connexion" class="a-header">Inscripion</a>
				</li>
			</ul>
		</nav>


	</div>

	<div class="search">
		<img src="/assets/images/search-icone.png" alt="search-icone" class="search-icone"/>
		<input class="searchbar" onkeyup="search-GooDeal()" type="text" name="search" placeholder="Rechercher un GooDeal...">
	</div>
	<a href="/about" class="a_header about  undisplay-responsive">Le concept</a>
</header>

{% block javascript %}
	<script src="/assets/javascript/header.js"></script>
{% endblock %}
