<nav>
    {% for event in events %}
        <a href="/announcements?{% if selected %}region_id={{selected}}&{% endif %}{% if event!='tous' %}category={{event}}{% endif %}"
         {% if active==event %} class="active" {% endif %}>{{event}}</a>
    {% endfor %}
</nav>