<select class="region" autocomplete="off" onchange="top.location=this.value" onclick="this.classList.toggle('opened');" onblur="this.classList.remove('opened');">
    <option class="not-selected" value="/announcement{% if active != 'tous' %}?category={{active}}{% endif %}">Tous regions</option>
    {% for region in regions %}
        <option value="/announcement?{% if active != 'tous' %}category={{active}}&{% endif %}region_id={{region.id}}"
        {% if selected==region.id %}
            selected="selected" 
        {% endif %}
        >
        {{region.region_name}}
        </option>       
    {% endfor %}
</select>