{% extends 'layout.html.twig' %}
{% block title %}Categorie
			{% endblock %}
{% block content %}
    <div class="container">
    {% include 'Components/_cart.html.twig' %}
    {% include 'Components/_cart.html.twig' %}
    {% include 'Components/_cart.html.twig' %}
    {% include 'Components/_cart.html.twig' %}
    {% include 'Components/_cart.html.twig' %}
    </div>    
{% endblock %}