{% extends 'layout.html.twig' %}
{% block title %} {{parent}} Categorie
			{% endblock %}
{% block content %}
    <div class="container">
    {% include 'Components/_card.html.twig' %}
    {% include 'Components/_card.html.twig' %}
    {% include 'Components/_card.html.twig' %}
    {% include 'Components/_card.html.twig' %}
    {% include 'Components/_card.html.twig' %}
    </div>    
{% endblock %}