{% extends 'layout.html.twig' %}

{% block content %}
<div class="form">
    <div class="contact_overlay">
    
        <h1 class="txt_form">UN AVIS, UNE REMARQUE, NOUS SOMMES PRENEUR DE TOUT BON CONSEIL</h1>

            <form method="post" class="contact_form" action="/">

             <label for="topic"></label>
             <input type="text" id="sujet" name="sujet" placeholder="Sujet" required>

             <label for="name"></label>
             <input type="text" id="lname" name="lname" placeholder="Votre nom">

             <label for="sujet"></label>
             <input type="text" id="fname" name="fname" placeholder="Votre prénom">

             <label for="emailAddress"></label>
             <input id="emailAddress" type="email" name="email" placeholder="Votre email" required>


             <label for="subject"></label>
             <textarea id="subject" name="subject" placeholder="Votre message" style="height:200px" required></textarea>

             <input class="btn" type="submit" value="Envoyer">
            </form>
    </div>
</div>

{% endblock %}
